<section class="characters">
  <div class="characters--banner">
    <img class="slide-in-fwd-center" src="../../../assets/images/banner.jpg" alt="Banner Rick & Morty" />
  </div>
  <div class="characters--content">
    <h1>Personajes</h1>
    <div class="characters--options">
      <input [formControl]="search" type="text" name="search" id="search" placeholder="Father Bob" />
      <div class="characters--filters">
        <select [formControl]="status" name="status" id="status">
          <option value="" disabled selected>Estado</option>
          <option value="alive">Alive</option>
          <option value="dead">Dead</option>
          <option value="Unknown">Unknown</option>
        </select>
        <button (click)="resetFilters()">X</button>
      </div>
      <div class="characters--buttons">
        <button (click)="goToPreviousPage()">Anterior</button>
        <button *ngIf="this.page > 2" (click)="goToPage(this.page - 2)">{{ this.page - 2 }}</button>
        <button *ngIf="this.page > 1" (click)="goToPage(this.page - 1)">{{ this.page - 1 }}</button>
        <button (click)="goToPage(this.page)">{{ this.page }}</button>
        <button (click)="goToNextPage()">Siguiente</button>
      </div>
    </div>
    <div class="characters--layout">
      @for (item of response.results; track $index) {
      <app-card [item]="item" />
      } @empty {
      <div class="loader--wraper">
        <div class="loader"></div>
      </div>
      }
    </div>
  </div>
</section>
