.article {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 8px;
  overflow: hidden;

  &--image {
    width: 100%;
  }

  &--name {
    display: flex;
    align-items: center;

    .status {
      border-radius: 50%;
      width: 9px;
      height: 9px;
      margin-right: 10px;
      background-color: var(--unkown);

      &--alive {
        background-color: var(--alive);
      }

      &--dead {
        background-color: var(--dead);
      }
    }
  }

  &--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13.5px;
    height: 220px;
    width: 100%;

    h4 {
      font-size: 24px;
      color: var(--secondary);
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    span {
      display: block;
    }

    span.title {
      font-size: 16px;
      font-weight: 500;
      color: var(--pink);
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    span.description {
      cursor: pointer;
      font-size: 18px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    span.description:hover {
      cursor: pointer;
      color: var(--blue);
    }
  }
}
